:root {
  --page-padding-top: 5vh;
  --page-padding-bottom: 5vh;
  --page-padding-left: 5vw;
  --page-padding-right: 5vw;
  --page-background-color: #009999;
  --content-area-background-color: #CCCCCC;
  --content-area-border-color: #FFFFFF;
  --default-font-color: #000000;
  --header-bar-color: #000099;
  --header-text-color: #FFFFFF;
  --button-background-color: #CCCCCC;
  --button-active-background-color: #999999;
  --button-border-color: #FFFFFF;
  --button-active-border-color: #CCCCCC;
  --side-background-color-A: #FFFFFF;
  --side-background-color-B: #00CCFF;
  --center-background-color-A: #FFFFCC;
  --center-background-color-B: #FFEEBB;
  --center-background-color-C: #FFDDBB;
  --maincontent-title-background-color: #00FFFF;
  --maincontent-title-text-color-A: #FFEECC;
  --maincontent-title-text-color-B: #FFFFFF;
  --maincontent-title-shadow-color: #AA9966;
  --maincontent-mainarea-background-color: #FFEEDD;
}
:root:has(#content-area > header input#nightmode:checked) {
  --page-background-color: #003333;
  --content-area-background-color: #333333;
  --content-area-border-color: #666666;
  --default-font-color: #CCCC99;
  --header-bar-color: #000066;
  --header-text-color: #CCCCCC;
  --button-background-color: #333333;
  --button-active-background-color: #000000;
  --button-border-color: #666666;
  --button-active-border-color: #333333;
  --side-background-color-A: #000000;
  --side-background-color-B: #003366;
  --center-background-color-A: #111133;
  --center-background-color-B: #001133;
  --center-background-color-C: #000022;
  --maincontent-title-background-color: #000000;
  --maincontent-title-text-color-A: #CC9966;
  --maincontent-title-text-color-B: #CCCCCC;
  --maincontent-title-shadow-color: #333333;
  --maincontent-mainarea-background-color: #222233;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  /*font-family: 'IPAEXG';*/
  color: var(--default-font-color);
  white-space: wrap collapse;
}
@font-face {
  font-family: 'IPAEXG';
  src: url("assets/font/IPAexfont00401/ipaexg.ttf");
}

/* コンテンツ全体についての設定 */
html {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 720px) {
  /* PCならモバイル用コンテンツは表示しない */
  .view-mob-only {
    display: none;
  }
}
@media screen and (max-width: 719px) {
  /* モバイルならPC用コンテンツは表示しない */
  .view-pc-only {
    display: none;
  }
}

body {
  width: 100%;
  height: 100%;
  padding-top: var(--page-padding-top);
  padding-bottom: var(--page-padding-bottom);
  padding-left: var(--page-padding-left);
  padding-right: var(--page-padding-right);
  background-color: var(--page-background-color);
}
@media screen and (min-width: 720px) {
  /* ユーザが最大化ボタンを押してる場合 */
  body:has(#content-area > header :is(input#maximize:checked)) {
    padding: 0;
  }
}
@media screen and (max-width: 719px) {
  /*幅719px未満のディスプレイの場合は上下左右の余白を表示しない*/
  body {
    padding: 0;
  }
}

#content-area {
  width: 100%;
  height: 100%;
  border: outset 2px var(--content-area-border-color);
  background-color: var(--content-area-background-color);
  display: flex;
  flex-flow: column;
}

/* ヘッダについての設定 */
#content-area > header {
  flex: 0;
  padding: 2px;
  padding-bottom: 0.25em;
  border-bottom: groove 2px var(--content-area-border-color);
}
#head-bar {
  background-color: var(--header-bar-color);
  color: var(--header-text-color);
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}
#head-bar > *:nth-child(2) {
  margin-right: auto;
}
#head-bar-title > h1 {
  font-size: large;
  font-weight: bold;
  color: var(--header-text-color);
}
@media screen and (min-width: 720px) {
  #head-bar-button .view-pc-only {
    display: flex;
    flex-flow: row;
  }
}
@media screen and (max-width: 719px) {
  #head-bar-button .view-mob-only {
    display: flex;
    flex-flow: row;
  }
}
#head-bar-button {
  display: flex;
  flex-flow: row;
}

input {
  appearance: none;
  display: none;
}
label:has(input) {
  cursor: pointer;
}
#content-area > header #head-bar-button {
  label:has(input[type="checkbox"]) {
    user-select: none;
    margin: 1px;
    padding-inline: 2px;
    display: block;
    background-color: var(--button-background-color);
    border: outset 2px var(--button-border-color);
    font-size: small;
    font-weight: 900;
    color: var(--default-font-color);
  }
  label:has(input[type="checkbox"]:checked) {
    background-color: var(--button-active-background-color);
    border: inset 2px var(--button-active-border-color);
  }
}
#content-area > #noframe-scroll > main > article#side footer > div#login-admin {
  input {
    appearance: initial;
    display: block;
  }
  :is(input[type="textarea"],input[type="password"]) {
    background-color: white;
    border: inset 1px var(--content-area-border-color);
  }
  input[type="submit"] {
    background-color: var(--button-background-color);
    border: outset 2px var(--button-border-color);
  }
  input[type="submit"]:active {
    background-color: var(--button-active-background-color);
    border: inset 2px var(--button-active-border-color);
  }
}

/* メインコンテンツ部分の枠についての設定 */
#noframe-scroll {
  flex: 1 1 0;
  display: flex;
  flex-flow: column;
}

#noframe-scroll > main {
  flex: 1 1 0;
  display: flex;
  flex-flow: row-reverse;
}
#noframe-scroll > main > article {
  padding: 0.25em;
  padding-inline: 0.25em;
  border: inset 2px var(--content-area-border-color);
}
#noframe-scroll > main > article#side {
  flex: 0 1 auto;
  > div.sys-style-marker {
    max-width: max(8em, 15vw);
  }
}
#noframe-scroll > main > article#main {
  flex: 1 1 0;
}
@media screen and (max-width: 719px) {
  #content-area {
    > header:not(:has(#showside:checked)) + #noframe-scroll {
      overflow: auto;
      > main {
        /*> article#main { 
        }*/
        > article#side {
          display: none;
        }
      }
    }
    > header:has(#showside:checked) + #noframe-scroll {
      overflow: auto;
      > main {
        > article#main {
          display: none;
        }
        > article#side {
          flex: 1 1 0;
          > div.sys-style-marker {
            max-width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 720px) {
  #content-area {
    > header:has(:not(#noframe:checked)) + #noframe-scroll > main {
      overflow-y: hidden;
      > article { overflow-y: auto; }
    }
    > header:has(#noframe:checked) + #noframe-scroll {
      overflow: auto;
      > main > article#side {
        display: none;
      }
    }
    > header:has(#sideinverse:checked) + #noframe-scroll > main {
      flex-flow: row;
    }
  }
}

/* フッタについての設定 */
#noframe-scroll > footer {
  flex: 0;
  padding: 1px;
  padding-top: 0.25em;
  border-top: groove 2px var(--content-area-border-color);
  display: flex;
  flex-flow: row;
  align-content: center;
  align-items: center;
  justify-content: center;
}

/* 共通デザインの設定 */

/* HRタグ */
hr {
  border-bottom: groove 2px var(--content-area-border-color);
  margin: 0.5em;
  margin-inline: 0;
}

/* マジダサロゴくん */
.page-title {
  margin-inline: auto;
  padding: 1em;
  background-color: var(--maincontent-title-background-color);
  display: table;
  user-select: none;
  > div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    > div {
      text-shadow: 0.25em 0.25em var(--maincontent-title-shadow-color);
      transform: skew(5deg, 2deg);
    }
    * {
      color: var(--maincontent-title-text-color-A);
    }
  }
}