/* メインコンテンツ(サイドフレーム)についての設定 */
article#side {
  background-image: linear-gradient(
    150deg,  var(--side-background-color-B) -5vh, var(--side-background-color-A) 30vh
  );

  #side-content-title-area * {
    font-size: 110%;
  }

  > .sys-style-marker {
    display: flex;
    flex-flow: column;
    > * {
      flex: 0 1 0;
      padding-inline: 0.25em;
    }
    > main {
      padding: 1em;
    }
    > :is(header, footer) {
      padding: 0.5em;
    }
    > :is(header,main) {
      border-bottom: groove 2px var(--content-area-border-color);
    }
  }
}